@use "base/mixins" as m;
@use "base/variables" as v;
@import "auth/login";
.crear{
    @extend .login;
    .uptask{
        background:linear-gradient(to right,v.$morado 0%, lighten(v.$morado,30%)100%);
        color: transparent;
        background-clip: text;
    }
    input[type="submit"]{
        @include m.boton(v.$morado,v.$blanco);
    }
    .acciones{
        a{
            color: v.$morado;
        }
    }
}