@use "base/mixins" as m;
@use "base/variables" as v;
@import "auth/login";
.olvide{
    @extend .login;
    .uptask{
        background:linear-gradient(to right,v.$rosa 0%, lighten(v.$rosa,30%)100%);
        color: transparent;
        background-clip: text;
    }
    input[type="submit"]{
        @include m.boton(v.$rosa,v.$blanco);
    }
    .acciones{
        a{
            color: v.$rosa;
        }
    }
}